
# Python compilato
__pycache__/
*.pyc
*.pyo
*.pyd

# Cartelle di output (per evitare di caricare giga di video e immagini su Git)
output/

# dataset

# File di sistema e log
*report*
*.log
*.xlsx#
failed_urls.csv

# File Excel (opzionale, se il dataset contiene dati sensibili o è molto pesante)
resources/dataset/dataset2.xlsx